Airbnb_n8n_Workflow_Full_Template.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "f82182a9-2cd2-480d-a51c-f9b88ad359bb",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT TOP 100\n    b.booking_id,\n    b.customer_id,\n    CONCAT(c.first_name, ' ', c.last_name)       AS customer_name,\n    c.email                                       AS customer_email,\n    b.status,\n    b.total_amount,\n    b.currency,\n    CONVERT(varchar(10), b.booking_created_at, 23) AS booking_date,  -- YYYY-MM-DD\n    b.city,\n    b.country_code,\n    b.nights\nFROM airbnb.fact_booking AS b\nJOIN airbnb.dim_customer AS c\n  ON c.customer_id = b.customer_id\nWHERE b.total_amount > 2500\n  AND c.email IS NOT NULL\nORDER BY b.booking_created_at DESC;"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        208,
        0
      ],
      "id": "606faf9a-08a2-42a9-8227-fff07a10e30f",
      "name": "Microsoft SQL",
      "credentials": {
        "microsoftSql": {
          "id": "G2pWqKzQZ5y2082C",
          "name": "Microsoft SQL account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Return ONLY a valid JSON object with keys \"email\", \"subject\", and \"body\". Do not include any explanation, markdown, or extra text.\n\nWrite a short, warm email for {{ $json.customer_name }} (viinaykumaarmamidi@gmail.com) about their Airbnb booking.\n\nData:\n- Status: {{ $json.status }}\n- Amount: {{ $json.total_amount }}\n- Booking date: {{ $json.booking_date }}\n- City: {{ $json.city }}\n- Country: {{ $json.country_code }}\n\nRules:\n- If status == \"Confirmed\", congratulate and mention booking_date and city.\n- If status == \"Cancelled\", be empathetic and offer help to rebook.\n- Keep it 90 to 140 words. Use Indian English.\n- Write engaging & customized email for each customer, don't use same template",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        416,
        0
      ],
      "id": "d278ddad-a7a1-45c8-911b-c43061f79528",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        352,
        208
      ],
      "id": "7b790b0f-be10-4f9e-9f58-de423b671a93",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Wktk14Qn48rbqg5P",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"email\": { \"type\": \"string\" },\n    \"subject\": { \"type\": \"string\" },\n    \"body\": { \"type\": \"string\" }\n  },\n  \"required\": [\"email\", \"subject\", \"body\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        560,
        208
      ],
      "id": "51d346ab-2506-4bd5-93ac-a1efe335b3df",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "toRecipients": "={{ $json.output.email }}",
        "subject": "={{ $json.output.subject }}",
        "bodyContent": "={{ $json.output.body }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        768,
        0
      ],
      "id": "0cbe1cec-7fa8-4291-9cbb-33d7905f0b6c",
      "name": "Send a message",
      "webhookId": "5e49d5a0-969e-4e47-af88-c6bbd75fdce7",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "keh0kxEMrF7Q3SQ3",
          "name": "Microsoft Outlook account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Microsoft SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft SQL": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "e99c0401-d772-4551-8925-c15365b2baa0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7abbdd993a2abaaf8c39234f4110de9f7faa1a242b29bfb7a980bafd709000f4"
  },
  "id": "Z8upAPyWgCv6oKeO_vZYU",
  "tags": []
}